img {
	border: 0;
	max-width: 100%;
	max-height: 100%;
}

.slideshow {
    background-color: #EEE;
    padding: 0;
}

.containerLayer {
    background-color: #DFDFDF;
    padding: 80px 10px 80px 10px;
}

.containerLayer2 {
    background-color: #FFF;
    padding: 15px 10px 15px 10px;
}
.rectangle {
    background-color: #656565;
    border: 4px solid #FFF;
    height: 192px;
    width: 100%;
}
.redbutton {
    background: red;
    
    background: -webkit-linear-gradient(#602, #F03); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#602, #F03); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#602, #F03); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#602, #F03); /* Standard syntax */
    
    border: 1px solid #903;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 15px;
}

.wrapper {
    box-shadow: 0px 0px 20px 2px #BBB;
    font-size: 10px;
    margin: 0 auto 0 auto;
    width: 776px;
}

@media screen and (max-width: 810px) {
    .wrapper {
        margin: 0 auto 0 auto;
        width: 96%;
    }
}





/* Adjust Navbar Height */

.navbar-default {
    background-color: #FFF;
    border: 0px;
    margin-bottom: 0px;
}

.navbar-nav li a {
	padding-top: 0;
}

.navbar-brand,
.navbar-nav li a {
	color: #000 !important;
    font-weight: bold;
    line-height: 70px;
	height: 70px;
}


/* Adjust Toggle button */

.navbar-toggle {
	margin-top: 18px;
}