img {
	border: 0;
	max-width: 100%;
	max-height: 100%;
}

.carouselContent {
    background-color: #C02;
    color: #FFF;
    height: 360px;
    padding: 20px;
}
.carouselContent a {
    color: #FFF;
}
.carouselContent h1 {
    font-weight: bold;
    text-transform: uppercase;
}
@media screen and (max-width: 991px) {
    .carouselContent {
        height: 300px !important;
    }
}

.carouselMain {
    padding: 0;
}

.containerLayer {
    background-color: #DFDFDF;
    padding: 80px 10px 80px 10px;
}

.containerLayer2 {
    background-color: #FFF;
    padding: 15px 10px 15px 10px;
}

.copyright {
    color: #AFAFAF;
}

.copyright a {
    color: #AFAFAF;
    text-decoration: underline;
}

.indicators-box {
    border: 4px solid #AAA;
}

.rectangle {
    background-color: #656565;
    border: 4px solid #FFF;
    height: 192px;
    width: 100%;
}

.redbutton {
    background: red;
    
    background: -webkit-linear-gradient(#602, #F03); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#602, #F03); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#602, #F03); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#602, #F03); /* Standard syntax */
    
    border: 1px solid #903;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 15px;
}

.slideshow {
    background-color: #EEE;
    padding: 0;
}

.warranty {
    color: #777777;
}

.wrapper {
    box-shadow: 0px 0px 20px 2px #BBB;
    font-size: 10px;
    margin: 0 auto 0 auto;
    width: 776px;
}

@media screen and (max-width: 810px) {
    .wrapper {
        margin: 0 auto 0 auto;
        width: 96%;
    }
}


/* Adjust Navbar Height */

.navbar-default {
    background-color: #FFF;
    border: 0px;
    margin-bottom: 0px;
}

.navbar-nav li a {
	padding-top: 0;
}

.navbar-brand,
.navbar-nav li a {
	color: #000 !important;
    font-weight: bold;
    line-height: 70px;
	height: 70px;
}


/* Adjust Toggle button */

.navbar-toggle {
	margin-top: 18px;
}


/* Carousel Adjustment */
.carousel-inner .item img {
    height: 360px;
    width: 100%;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    margin-left: -30px;
    text-align: left;
}

.carousel-indicators {
    bottom: -70px;
    left: 300px;
    width: 635px;
}

.carousel-indicators > li,
.carousel-indicators > li.active{
    background: #FFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF, #CCC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF, #CCC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF, #CCC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF, #CCC); /* Standard syntax */
    
    font-size: 4.0em;
    width: 158px;
    height: 78px;
    border-radius: 0;
    border: 1px solid #AAA;
    text-indent: 0;
    
    margin: 0 -2px 0 -2px;
    padding-top: 10px;
    
    /*display: table-cell;
    vertical-align: middle; /*middle centred*/
}
.carousel-indicators > li.active {
    outline-color: #0f0;
    outline-style: solid;
    outline-width: 4px;
    position: relative;
}
.carousel-indicators > li.active:after {
    content: "";
    position: absolute;
    top: -12px;
    left: 68px;
    
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0F0;
    
    display: block;
    z-index: 1;
}
